@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap");

#title {
  font-family: "Cedarville Cursive", cursive;
  font-size: 50px;
  color: white;
  margin: 0;
}

#menu {
  background-color: #e3463f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 1.5em;
  color: white;
  /* text-decoration: underline; */
  cursor: pointer;
}
