.wrapper {
  width: 400px;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
  margin-top: 20px;
}

#avatar {
  width: 135px;
  position: absolute;
  top: 0;
  left: 10px;
  /* border: 5px solid white; */
}

#card {
  width: 500px;
  padding-top: 75px;
  /* background-color: white; */
}

.edit-profile-button {
  position: absolute;
  top: 75px;
  right: 10px;
}
