@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap");

#title {
  font-family: "Cedarville Cursive", cursive;
  font-size: 50px;
  color: white;
  margin: 0;
  position: relative;
}

#short-title {
  font-family: "Cedarville Cursive", cursive;
  font-size: 50px;
  color: white;
  margin: 0;
  visibility: hidden;
  position: absolute;
}

@media only screen and (max-width: 1100px) {
  #title {
    visibility: hidden;
  }

  #short-title {
    visibility: visible;
  }
}

#sidebar-menu {
  background-color: #006d77;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1em;
  height: 100%;
  min-width: 65px;
}

#sidebar-menu-links {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#sidebar-menu-links a {
  display: flex;
  align-items: flex-start;
  color: white;
  /* text-decoration: underline; */
  cursor: pointer;
}

#grid {
  height: 100%;
  overflow: auto;
  /* margin: inherit; */
}
